<!-- ejs 템플릿 엔진을 사용하여 공통의 html을 선언해 줄 수 있다. -->
<!-- 많은 코드를 줄일 수 있고, 재사용성이 높고, 유지보수에 용이하다. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi. My name is <%= name %><br>
</body>

</html>